/* .header-title-wrapper {} */

.header-title {
    font-weight: 800;
    font-size: 32px;
    line-height: 44px;
    color: #1A1919;
    text-align: center;
    padding-top: 80px;
    padding-bottom: 125px;
}

@media only screen and (max-width: 860px) {
    .header-title {
        padding-top: 60px;
        padding-bottom: 80px;
    }
}